# ## Google API
GOOGLE_APPLICATION_CREDENTIALS=./googlecms/g-secret-file-example.json
DEV_GOOGLE_APPLICATION_CREDENTIALS=./g-secret-file-example.json
SHEET_ID=random-id
# ##  NODEMAILER:
NODEMAILER_GOOGLE_EMAIL=my-email@email.test
NODEMAILER_GOOGLE_EMAIL_PASSWORD=pass-key
# Brevo mailer:
BREVO_API_KEY=secretkeyexample
BREVO_EMAIL_FROM=from@example.email
BREVO_EMAIL_TO=to@example.email
# ## Cloudeflare Turnstile
DEV_TURNSTILE_SITE_KEY=example
DEV_TURNSTILE_SECRET_KEY=example
TURNSTILE_SITE_KEY=key
TURNSTILE_SECRET_KEY=secret
SITE_COMMERCIAL_NAME="The Company Name"
APP_DEV_NAME=app-name
HOME_PAGE_TITLE="Welcome to MyApp"
HERO_SECTION_TAGLINE="Experience the Future"
DEV_CONTACT_LINK=https://www.linkedin.com/in/profile-id/
# use coma (,) only to separate new address line
COMPANY_ADDRESS="CityName 0000,Forest Str 0"
COMPANY_EMAILS=example@dummy.com
COMPANY_COMMERCIAL_NAME="The Company Name"
COMPANY_PHONES=+00222555777 